* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000000AA;
    --secondary-color: #DC0D1F;

    --background-color-1: #5e5e5e;
    --background-color-2: #000000AA;

    --font-color: #FFFFFF;
    --font-color-2: #000000;

    --shadows-color: #00000011;
    --box-shadow-color: #000000;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--font-color);
    background-color: var(--background-color-1)
}


/* HEADER */
header {
    display: block;
    position: sticky;
    top: 0;
    text-align: center;

    width: 100%;
    height: 14vh;
    backdrop-filter: blur(20px);

    color: var(--font-color);
    background-color: var(--primary-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}
header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    height: 64%;
    font-size: 3.0em;
    
    box-shadow: 0 2px 4px var(--shadows-color);
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 36%;

    background-color: var(--shadows-color);
}
header nav a {
    transition: all 0.2s;
    text-decoration: none;
    margin: 0 8px;
    font-size: 1.2em;
    color: var(--font-color);
}
header nav a:hover {
    color: var(--secondary-color);
}
header nav a:active {
    color: var(--font-color-2);
}


/* CONTAINERS */
.details-container, .game-container {
    font-family: Roboto, Arial, Times;
    min-height: 86vh;
}
.details-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 32px 16px;
    width: 100%;
}
.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: flex-start;

    padding: 32px 16px 0 16px;
    width: 100%;
    gap: 32px;
}
.description-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    padding: 0 16px 32px 16px;
}


/* FRAME DO JOGO */
.game-frame {
    overflow: hidden;

    width: 854px;
    height: 480px;
    border-radius: 8px;

    border: 3px ridge var(--secondary-color);
    background-color: var(--box-shadow-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}


/* SEÇÕES */
.section, .section-aside {
    display: block;
    justify-content: space-between;

    max-width: 854px;
    padding: 12px;
    border-radius: 8px;

    box-shadow: 0 2px 4px var(--box-shadow-color);
    background-color: var(--background-color-2);
    color: var(--font-color);
}
.section-aside {
    max-width: 854px;
    height: 480px;
}
.section {
    width: 854px;
    height: auto;
}
.section h2, .section-aside h2 {
    font-size: 1.8em;
    text-decoration: underline var(--secondary-color);
}
.section h3, .section-aside h3 {
    font-size: 1.6em;
    text-decoration: underline var(--secondary-color);
}
.section ul, .section-aside ul {
    list-style-position: inside;
    padding-left: 16px;
}
.section dl {
    display: grid;
    grid-template-columns: 1fr 3fr;
    font-size: 1.4em;

    padding-left: 16px;
    gap: 8px;
}
.section dt {
    font-weight: bold;
}
.section dd {
    font-weight: lighter;
}
.section a, .section-aside a, .section ul, .section-aside ul {
    font-size: 1.4em;
    line-height: 24px;
}
.section-aside span a {
    font-size: 1.0em;
}


/* SEÇÂO DOS CONTROLES */
.controls-grid {
    display: block;
}
.controls-item {
    margin: 12px 0;
    padding: 12px;
    border-radius: 8px;

    background-color: var(--shadows-color);
}
.controls-icon {
    display: flex;
    justify-content: center;
    font-size: 1.2em;

    width: 100%;
    gap: 10px;
}
.controls-icon a {
    text-align: center;

    min-width: 20%;
    padding: 6px;
    border-radius: 8px;

    border: 2px solid currentColor;
    background-color: var(--font-color-2);
}


/* FOOTER */
footer {
    text-align: center;

    width: 100%;
    padding: 20px;

    color: var(--font-color);
    background-color: #000000;
}
.social-links a {
    transition: all 0.2S;
    text-decoration: none;
    padding: 0 4px;
    color: var(--secondary-color);
}
.social-links a:hover {
    text-decoration: none;
    color: var(--primary-color);
}