/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: fixed;
    font-family: var(--font-family-1);
    z-index: 1;

    top: 0;
    width: 100%;
    height: var(--header-height);
    padding: 0 64px;
    backdrop-filter: blur(20px);

    color: var(--font-color);
    background-image: linear-gradient( var(--box-shadow-color), var(--header-color) );
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

/* TITULO */
header h1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    transition: all 0.6s ease-in-out;

    width: max-content;
    height: 64%;
    font-size: 2.6em;
    
    text-shadow: 0 2px 2px var(--primary-color);
    box-shadow: 0 2px 4px var(--shadows-color);
}
header h1:hover {
    cursor: pointer;
    text-shadow: 0 2px 2px var(--primary-color), 0 0px 8px var(--font-color);
}

/* NAVEGAÇÂO */
header nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: 36%;
}

/* ITEM DE NAVEGAÇÂO */
header nav a {
    transition: all 0.2s;
    text-decoration: none;
    font-size: 1.4em;

    margin: 2px 8px;
    padding: 0 4px;

    color: var(--font-color);
}
header nav a:hover {
    scale: 1.1;
    color: var(--primary-color);
}
header nav a:active {
    scale: 0.9;
}
header nav a:first-child {
    text-shadow: 0 1px 4px currentColor;
}