/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    text-align: center;

    width: 100%;
    height: var(--header-height);
    padding: 0 64px;
    backdrop-filter: blur(20px);

    color: var(--font-color);
    background-color: var(--header-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}
header h1 {
    display: flex;
    justify-content: baseline;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    width: max-content;
    height: 64%;
    font-size: 3.0em;
    
    text-shadow: 0 2px 2px var(--primary-color);
    box-shadow: 0 2px 4px var(--shadows-color);
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: max-content;
    height: 36%;
}
header nav a {
    transition: all 0.2s;
    text-decoration: none;
    font-size: 1.4em;

    margin: 2px 8px;
    padding: 0 4px;

    color: var(--font-color);
}
header nav a:hover {
    color: var(--primary-color);
}
header nav a:active {
    color: var(--font-color-2);
}
header nav a:first-child {
    text-shadow: 0 1px 4px currentColor;
}