/* CONTAINERS */
.details-container, .game-container {
    align-items: flex-start;
    font-family: Roboto, Arial, Times;

    padding: calc(var(--header-height) + 32px) 16px 32px 16px;
    width: 100%;
    min-height: 100vh;
}
.details-container {
    display: flex;
    justify-content: center;

    background-image: url('../assets/Background.png');
    background-position: top;
    background-size: cover;
}
.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

/* FRAME DO JOGO */
.game-frame {
    overflow: hidden;

    width: var(--game-frame-width);
    height: var(--game-frame-height);
    border-radius: 8px;

    border: 3px ridge var(--primary-color);
    background-color: var(--box-shadow-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}

/* SEÇÕES */
.section, .section-aside {
    display: block;
    justify-content: space-between;

    padding: 12px;
    border-radius: 8px;
    backdrop-filter: blur(20px);

    box-shadow: 0 2px 4px var(--box-shadow-color);
    background-color: var(--background-color-2);
    color: var(--font-color);
}
.section-aside {
    max-width: 854px;
    height: var(--game-frame-height);
    overflow-x: hidden;
    overflow-y: auto;
}
.section {
    width: var(--game-frame-width);
    height: auto;
}
.section h2, .section-aside h2 {
    font-size: 1.8em;
    text-decoration: underline var(--primary-color);
}
.section h3, .section-aside h3 {
    font-size: 1.6em;
    text-decoration: underline var(--primary-color);
}
.section ul, .section-aside ul {
    list-style-position: inside;
    padding-left: 16px;
}
.section dl {
    display: grid;
    grid-template-columns: 1fr 3fr;

    padding-left: 16px;
    gap: 8px;
}
.section dt {
    font-weight: bold;
}
.section dd {
    font-weight: lighter;
}
.section a, .section-aside a, .section ul, .section-aside ul, .section dl {
    font-size: 1.4em;
    line-height: 24px;
}
.section-aside span a {
    font-size: 1.0em;
}

/* FORMULARIO DE CONTATO */
.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.0em;
    padding: 0 2vw;
}
.form label input, .form label textarea {
    text-indent: 8px;
    font-weight: lighter;
    font-size: 1.0em;
    padding: 8px 6px;
    border-radius: 8px;

    border: 1px solid var(--font-color);
    color: var(--font-color);
    background-color: var(--background-color-2);
}
.form label input:focus, .form label textarea:focus {
    outline: 0;
    border: 1px ridge var(--primary-color);
}
.form label textarea {
    resize: vertical;
    max-height: 24vh;
    width: 100%;
}

/* BOTÃO DE ENVIO */
.submit-btn {
    display: flex;
    justify-content: center;
}
.submit-btn button {
    transition: all ease-in-out 0.2s;
    font-size: 1.2em;
    padding: 6px 8px;
    border-radius: 8px;

    border: 2px solid var(--primary-color);
    color: var(--font-color);
    background-color: var(--primary-color);
}
.submit-btn button:hover {
    color: var(--primary-color);
    background-color: var(--font-color);
}

/* LINKS DE REDE SOCIAL */
.social-links a {
    transition: all 0.2S ease-in-out;
    text-decoration: none;
    padding: 0 4px;
    color: var(--primary-color);
}
.social-links a:hover {
    color: var(--font-color);
}
.social-links a:active {
    color: var(--font-color-2);
}

/* SEÇÂO DOS CONTROLES */
.controls-grid {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.controls-item {
    margin: 12px 0;
    padding: 24px 12px;
    border-radius: 8px;

    background-color: var(--shadows-color);
}
.controls-icon {
    display: flex;
    justify-content: center;
    font-size: 1.2em;

    width: 100%;
    gap: 10px;
}
.controls-icon a {
    display: inline-block;

    font-family: monospace;
    text-transform: uppercase;
    text-align: center;

    min-width: 35px;
    padding: 10px 16px;
    border-radius: 8px;

    border: 2px ridge currentColor;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
    background-color: var(--font-color-2);
}
.controls-item a {
    text-align: center;
    font-size: 1.0em;
}
.controls-icon a:only-child {
    padding: 10px 64px;
}