/* FRAME DO JOGO */
.game-frame {
    overflow: hidden;

    width: var(--game-frame-width);
    height: var(--game-frame-height);
    border-radius: 8px;

    border: 3px ridge var(--primary-color);
    background-color: var(--box-shadow-color);
    box-shadow: 0 2px 4px var(--box-shadow-color);
}
.game-frame div {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}
#play-btn-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* BOTÃO INICIAR JOGO */
#play-btn {
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    font-family: var(--font-family-3);
    font-size: 1.4em;
    padding: 1rem 2rem;
    border-radius: 8px;

    border: 2px solid var(--primary-color);
    fill: currentColor;
    color: var(--primary-color);
    background-color: var(--shadows-color);
}
#play-btn:hover {
    opacity: 100%;
    scale: 1.1;
}
#play-btn:active {
    opacity: 60%;
    scale: 0.9;
}
#game-iframe-container {
    display: none;
}

/* SEÇÂO DOS CONTROLES */
.controls-grid {
    display: flex;
    flex-direction: column;
    margin: 12px 0 0 0;
    gap: 24px;
}
.controls-item {
    padding: 12px 8px;
    border-radius: 8px;

    border: 3px ridge var(--primary-color);
    background-color: var(--shadows-color);
}
.controls-item a {
    display: flex;
    justify-content: center;
    text-align: center;
}
.controls-icon {
    display: flex;
    justify-content: center;

    font-size: 1.8em;
    width: 100%;
    gap: 10px;
}
.controls-icon a {
    display: inline-block;

    font-family: var(--font-family-3);
    text-transform: uppercase;
    text-align: center;

    min-width: 35px;
    padding: 10px 16px;
    border-radius: 8px;

    border: 2px ridge currentColor;
    box-shadow: 2px 2px 4px var(--box-shadow-color);
    background-color: var(--font-color-2);
}
.controls-icon a:only-child {
    padding: 10px 64px;
}


