* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* VARIÁVEIS DE PALETA DE CORES */
    --primary-color: #DC0D1F;

    --header-color: #000000AA;
    --footer-color: #000000BB;

    --background-color: #12102E;
    --background-color-2: #000000CC;

    --font-color: #FFFFFF;
    --font-color-2: #2D2D2D;

    --shadows-color: #00000011;
    --box-shadow-color: #000000;

    /* VARIÁVEIS DE FORMATAÇÂO DO HEADER */
    --header-height: 96px;

    /* VARIÁVEIS DE FORMATAÇÂO DO FRAME DO JOGO */
    --game-frame-width: 56vw;
    --game-frame-height: 31.5vw;

    /* VARIÁVEIS DE TIPOS DE FONTES */
    --font-family-1: 'Sawarabi Mincho', Cochin, Georgia, serif;
    --font-family-2: Roboto, Arial, Times, serif;
    --font-family-3: monospace, serif;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: var(--font-color);
    background-color: var(--background-color)
}