.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-1);

    padding: 6px 24px;
    min-width: 32vw;
    gap: 4vh;
    border-radius: 8px;
}
.start h1 {
    text-align: center;
    font-size: 2.6em;

    color: var(--font-color);
    text-shadow: 0 2px 1px var(--primary-color);
}