/* CONTAINERS */
.container, .details-container, .game-container {
    align-items: flex-start;
    image-rendering: pixelated;
    font-family: var(--font-family-2);

    padding: calc(var(--header-height) + 32px) 16px 32px 16px;
    width: 100%;
    min-height: 100vh;
    gap: 32px;

    background-image: url('../assets/Background.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.container {
    padding: 0;
    background-image: url('../assets/Background-Home.png');
    background-size: cover;
}
.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-size: cover;
}

/* SEÇÕES */
.section, .section-aside {
    display: block;
    justify-content: space-between;

    padding: 12px;
    border-radius: 8px;
    backdrop-filter: blur(20px);

    box-shadow: 0 2px 4px var(--box-shadow-color);
    background-color: var(--background-color-2);
    color: var(--font-color);
}
.section-aside {
    max-width: 854px;
    height: var(--game-frame-height);
    overflow-x: hidden;
    overflow-y: auto;
}
.section {
    width: var(--game-frame-width);
    height: auto;
}
.section h2, .section-aside h2 {
    font-size: 1.8em;
    text-decoration: underline var(--primary-color);
}
.section h3, .section-aside h3 {
    font-size: 1.6em;
    text-decoration: underline var(--primary-color);
}
.section ul, .section-aside ul {
    list-style-position: inside;
    padding-left: 16px;
}
.section dl {
    display: grid;
    grid-template-columns: 1fr 3fr;

    padding-left: 16px;
    gap: 8px;
}
.section dt {
    font-weight: bold;
}
.section dd {
    font-weight: lighter;
}
.section a, .section-aside a, .section p, .section-aside p, .section ul, .section-aside ul, .section dl {
    font-size: 1.4em;
    line-height: 24px;
}
.section p, .section-aside p {
    text-indent: 16px;
}
.section-aside span a {
    font-size: 1.0em;
}
.section-home {
    display: flex;
    flex-direction: column;
    image-rendering: pixelated;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-image: url('../assets/Forest.png');
    background-position: top;
    background-size: contain;
    backdrop-filter: brightness(60%);
}

/* SEÇÃO COM IMAGEM */
#details-section {
    display: grid;
    grid-template-columns: 4fr 1fr;
    image-rendering: pixelated;
}
#details-section img {
    display: flex;
    justify-self: center;
    align-self: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    width: min-content;
    height: 80%;
    object-fit: contain;
}
#details-section img:hover {
    scale: 1.1;
}
#details-section img:active {
    scale: 0.9;
    filter: drop-shadow(0 0 2px var(--primary-color));
}

/* LINKS DE REDE SOCIAL */
.social-links a {
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    padding: 0 4px;
    color: var(--primary-color);
}
.social-links a:hover {
    color: var(--font-color);
}
.social-links a:active {
    color: var(--font-color-2);
}


/* BOTÂO PARA JOGAR */
#game-btn {
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-family: var(--font-family-1);
    font-weight: bold;
    font-size: 1.2em;

    width: max-content;
    max-width: 100%;
    padding: 8px 12px;
    border-radius: 8px;

    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    background-color: var(--background-color-2);
    backdrop-filter: blur(20px);
}
#game-btn:hover {
    scale: 1.1;
    color: var(--font-color);
    background-color: var(--primary-color);
}
#game-btn:active {
    scale: 0.9;
}