/* FORMATAÇÂO MOBILE */
@media (max-width: 1150px) {
    :root {
        /* VARIÁVEIS DE FORMATAÇÂO DO HEADER */
        --header-height: 96px;
    }
    
    /* HEADER */
    header {
        display: block;
        justify-content: center;
        height: var(--header-height);
        padding: 0 0;
    }
    header h1 {
        justify-content: center;
        width: 100%;
    
        font-size: 1.6em;
    }
    header nav {
        width: 100%;
    }
    header nav a {
        font-size: 1.2em;
    }

    /* CONTAINERS */
    .details-container, .game-container {
        padding: calc(var(--header-height) + 32px) 16px 32px 16px;
        gap: 16px;

        background-size: cover;
    }
    .container {
        background-size: cover;
    }
    .game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* FRAME DO JOGO */
    .game-frame {
        width: 100%;
        height: 60vw;
    }
    .game-frame #play-btn {
        font-size: 1.2em;
    }

    /* SEÇÕES */
    .section {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .section-aside {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    .section h2, .section-aside h2 {
        font-size: 1.4em;
    }
    .section h3, .section-aside h3 {
        font-size: 1.2em;
    }
    .section a, .section-aside a, .section p, .section-aside p, .section ul, .section-aside ul, .section dl {
        font-size: 1.0em;
    }
    .section dl {
        line-height: 18px;
    }
    .section p, .section-aside p {
        text-indent: 8px;
    }
    .section-home {
        background-size: cover;
    }

    /* SEÇÃO COM IMAGEM */
    #details-section {
        display: flex;
        flex-direction: column;
    }
    #details-section img {
        display: none;
    }

    /* FORMULARIO DE CONTATO */
    .form label {
        font-size: 1.0em;
    }
    .form label input, .form label textarea {
        font-size: 1.0em;
    }
    .form p {
        font-size: 1.0em;
    }

    /* BOTÃO DE ENVIO */
    .submit-btn button {
        font-size: 1.2em;
    }

    /* SEÇÂO DOS CONTROLES */
    .controls-grid {
        gap: 6px;
    }
    .controls-icon {
        font-size: 1.2em;
    }

    /* GALERIA DE IMAGENS */
    .gallery {
        display: none;
    }

    /* FOOTER */
    footer {
        display: flex;
        flex-direction: column;
        font-size: 1.0em;
    }
}
  